<%- include("header"); -%>
<main>
	<div class="profiel">
		<div class="links">
			<img src="/img/marijke-web.jpg" alt="Marijke Verreth" />
		</div>
		<div class="rechts">
			<h1>Hi, I'm Marijke</h1>
			<p>I'm a student Graphic Designer living in Antwerp. It's my passion to bring good ideas to life. I'm currently studying at Artesis Plantijn. After hours I do  assignments for amazing clients. Thanks to these opportunities I can increase my knowledge and improve my skills.</p>
			<p>Some of my skills:
			<ul>
				<li><i class="fas fa-pencil-alt"></i> Design</li>
				<li><i class="fas fa-globe"></i> Webdevelopment</li>
				<li><i class="fas fa-image"></i> Photo editing</li>
				<li><i class="fas fa-video"></i> Video animation</li>
				<li><i class="fas fa-file-alt"></i> Creative writing</li>
			</ul>
		</div>
	</div>
</main>
<%- include("footer"); -%>
