    <footer>
    <div class="links">
      <a href="mailto:info@marijkeverreth.be"><i class="far fa-envelope"></i> info@marijkeverreth.be</a>
      <a href="https://www.instagram.com/marijkeverreth/"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
    <div class="rechts">
      Pinkify?
      <span class="schakelaar">
        <span class="knopje"></span>
      </span>
    </div>
    </footer>
  </body>
</html>
