<!doctype html>
<html>
	<head>
		<title>Marijke Verreth - Projects</title>
		<link rel="stylesheet" href="/css/reset_plus.css">
		<link rel="stylesheet" href="/css/master.css">
		<script src="/js/script.js" defer></script>
		<meta charset="utf-8">
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
		<link rel="manifest" href="/img/favicons/site.webmanifest">
		<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#8d2840">
		<meta name="msapplication-TileColor" content="#8d2840">
		<meta name="theme-color" content="#ffffff">
		<!-- Zoom niveau juist zetten op mobiel -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Fonts, Iconen & Fancybox -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<header>
			<h1 class="logo"><img src="/img/logo.svg"></h1>
			<a href="#" class="menu"><img src="/img/hamburger.svg" alt="Menu"></a>
			<%- include("nav"); -%>
		</header>
